body {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {

    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em solid transparent;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em;
    /* Adjust as needed */
    animation: typing 5s steps(60), blink-caret 5s;
}

/* The typing effect */

@keyframes typing {
    from {
      width: 0
    }
    to {
      width: 80%
    }
  }
  
  
  /* The typewriter cursor effect */
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: white
    }
  }

h4 {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 100px;
    animation: fadeIn 5s;
    font-family: 'Macondo', cursive;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#user_input {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 500px;
    font-size: 1.2rem;
    font-family: 'Macondo', cursive;
    border: 4px solid #248e57;
}

.submit {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0px 15px 0px;
    
}

#submit-button {
    padding: 5px 25px 5px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    border-radius: 5px;
    background-color: #0F3D28;
    color: white;
    border: 1.5px solid whitesmoke;
}

#submit-button:hover {
    padding: 5px 25px 5px 25px;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    border-radius: 5px;
    background-color: #99f1b6;
    color: rgb(14, 0, 0);
    border: 1.5px solid rgb(3, 24, 1);
}

.contents {
    height: 100vh;
    background-image: url("../files/nfbackground.png"); /* Replace with your desired background image URL */
    background-size: cover;
}

.form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form input[type="file"] {
    position: relative;
    width: 600px;
    background: rgb(230,68,97);
    background: linear-gradient(0deg, rgba(230,68,97,1) 0%, rgba(116,27,117,1) 100%);
    border: 4px solid whitesmoke;
    color: whitesmoke;
    border-radius: 5px;
    font-family: 'Macondo', cursive;
    margin-bottom: 25px;
}

input::file-selector-button {
    font-weight: bold;
    color: white;
    padding: 1.0em;
    font-size: 1rem;
    background-color: #c81803;
    border: none;
    margin-right: 160px;
    cursor: pointer;
    font-family: 'Macondo', cursive;

}

input::file-selector-button:hover {
    background-color: #0056b3;
}

form input[type="submit"] {
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #b9d4f1;
    color: #050001;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Macondo', cursive;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
    color: whitesmoke;

}

.output {
    /* background-image: url(../files/Holy-basil.jpg);
    background-size: contain; */
    /* display: flex; */
    background: rgb(90,163,95);
    background: linear-gradient(270deg, rgba(90,163,95,0.9640449929971989) 0%, rgba(7,80,51,1) 0%, rgba(50,157,118,1) 40%);
    width: 100%;
    height: max-content;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: max-content;
    margin-bottom: -20px;
}

.response {
    width: 100%;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    height: fit-content;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px;
    border: 5px solid rgb(15, 71, 4);
    font-size: 1.0rem;
    font-family: "Macondo";
    margin-bottom: 20px;
}

.recipe {
    width: fit-content;
    max-width: 1280px;
    overflow: hidden;
    white-space: nowrap;
    /* border-right: 2px solid; */
    animation: typing 5s steps(60), blink-caret 5s;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    background-color: #248e57;
    border-bottom: 1px solid white;
}

.container{
    width: 100%;  
    font-weight: bold;
    background: rgb(2,17,3);
    background: linear-gradient(270deg, rgba(2,17,3,0.9640449929971989) 0%, rgba(15,78,53,1) 44%, rgba(50,157,118,1) 76%);

}

.flex{
    display: flex;
    align-items: center;
}
.navbar{
    justify-content: space-between;
    width: 1180px;
    margin: 0 auto;
}
.navbar-logo{
    padding: 5px;
}

.navbar-logo a{
    background: none;
}

.nav-item{
    color: white;
    margin-inline: 5px;
    font-family: 'Macondo', cursive;
}
#loading-screen {
    /* display: none; */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   font-size: 2rem;
   color: rgb(216, 240, 194);
   background-color: rgba(0, 0, 0, 0.5); /* Vibrant green background */
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(5px)
    }
   .loading-content {
   /* position: absolute; */
   text-align: center;
   color: rgb(216, 240, 194);
   padding: 20px;
   border-radius: 10px;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translateY(-50%, -50%);
   }
   .loading-text {
   margin-top: 100px;
   padding: 20px; /* Add padding as needed */
   background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background for the inner div */
   border-radius: 10px;
   }




