<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="../static/assets/food.svg">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/about.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/home.css') }} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster Two">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:ital,wght@1,300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Macondo&family=Roboto:ital,wght@1,300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="navbar flex">
            <div class="sec-1">
                <div class="navbar-logo">
                    <a href="/">
                        <img src="static/assets/svg/logo-color.png" alt="Logo" width="175px" height="50px">
                    </a>
                </div>
            </div>
            <div class="sec-2">
                <div class="nav-items flex">
                    <div class="nav-item"> <a href="/">Home </a></div>
                    <div class="nav-item"> <a href="/about">About Us</a></div>
                    <div class="nav-item"> <a href="/contact">Contact </a></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p></p>
    </div>
    

    <div class="contents">
        <div class="content">
            <div class="member-card">
                <div class="member-info">
                    <div class="member-info-1">
                        <div class="detail">
                            <h4>Sainik Ghosh</h4>
                            <span>Co-Founder</span>
                            <p> Sainik is an aspiring tech-entrepreneur. He has been learning computer science and programming (Python, Java, Web Design, Scratch) for the last 4 years. Currently, Sainik is a 12th grader at West Ranch High. This is his very first collaborative app project where he decided upon sharing natural Indian remedies (his culture) and allow people to learn from them! </p>
                            <div class="social">
                                <a href = "https://www.linkedin.com/in/sainikghosh/"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                  </svg>
                                </a>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="member-card">
                <div class="member-info">
                    <div class="member-info-2">
                        <div class="detail">
                            <h4>Diwakar Sah</h4>
                            <span>Co-Founder</span>
                            <p>Diwakar has recently completed his engineering degree in computer science. Outside his engineering pursuit, he has obtained a spectrum of credentials including Python for Data Science, Python for Machine Learning, Data visualization using Python, Data analysis using Python, Data visualization with PowerBI, AwS Machine Learning. He has 2+ years of hands-on projects experience in Python and 1+ years of experience working in the EdTech industry. He is a wonderful help and mentor to many students including Sainik where they worked together on this application.</p>
                            <div class="social">
                                <a href = "https://www.linkedin.com/in/diwakar-sah-02b620211/"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                  </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>