<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/assets/food.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='public/contact.css') }} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster Two">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Macondo&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <head>
        <meta charset="UTF-8" />
        <title>Get In Touch Section</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
      <body>
        <div class="container">
            <div class="navbar flex">
                <div class="sec-1">
                    <div class="navbar-logo">
                        <a href="/">
                            <img src="static/assets/svg/logo-color.png" alt="Logo" width="175px" height="50px">
                        </a>
                    </div>
                </div>
                <div class="sec-2">
                    <div class="nav-items flex">
                        <div class="nav-item"> <a href="/">Home </a></div>
                        <div class="nav-item"> <a href="/about">About Us</a></div>
                        <div class="nav-item"> <a href = "/contact">Contact </a></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        <section class="footer_get_touch_outer">
          <div class="container2">
            <!-- <div class="footer_get_touch_inner grid-70-30"> -->
              <div class="colmun-70 get_form">
                <div class="get_form_inner">
                  <div class="get_form_inner_text">
                    <h3>Get In Touch</h3>
                  </div>
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                      region: "na1",
                      portalId: "43680114",
                      formId: "e0e2e95f-aeae-4537-a8a2-2cb6d35c8611"
                    });
                  </script>
                </div>
              </div>
            </div>
              <!-- <div class="colmun-30 get_say_form">
                <h5>Say Hi!</h5>
                <ul class="get_say_info_sec">
                  <li>
                    <i class="fa fa-envelope"></i>
                    <a href="naturallyfitco@gmail.com:">naturallyfitco@gmail.com</a>
                  </li>
                  <li>
                    <i class="fa fa-paper-plane"></i>
                    <a href="9259157403">+1 9259157403</a>
                  </li>
                  <li>
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/naturallyfitco/?igshid=MjEwN2IyYWYwYw%3D%3D">@naturallyfitco</a> 
                  </li>
                </ul>          
              </div>         -->
            </div>
        </section>
      </body>